/* color pallet 
dark purple:  66, 28, 82, 
light purple: 115, 44, 123,  
amethyst smoke: 156, 138, 165,
violet blue: 189, 174, 198
white: 255, 255, 255
*/

/* imprted fonts
font-family: 'Press Start 2P', cursive;
font-family: 'Voltaire', sans-serif;
*/

/* mobile styles */

body {
    background-color: rgb(156, 174, 198)
}

/* nav bar */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(156, 174, 198);
    font-family: 'Press Start 2P', cursive;
    text-decoration: underline;
    /* font-size: 50px; */
    background-color: rgb(66, 28, 82);
    height: 75px;
    margin: 0%;
}

/* .banner {
    background: url('./assets//kai-oberhauser-179931-unsplash.jpg');
    background-size: cover;
    width: 90%;
    height: 400px;
    margin: auto;
} */

/* home page/body styles */

.home {
    background-color: rgb(189, 174, 198);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: double rgb(66, 28, 82) 1px;
    margin: 1px 0;
    font-family: 'Voltaire', sans-serif;
    color: rgb(156, 174, 198);
    background-color: rgb(66, 28, 82);
}

.welcome a {
    color: rgb(189, 174, 198);
}

/* contact info */

 button {
    background-color: rgb(189, 174, 198);
    color: rgb(66, 28, 82);
    padding: 15px 50px;
    margin: 10px;
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
}

.contactMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: double rgb(66, 28, 82) 1px;
        margin: 1px 0;
        font-family: 'Voltaire', sans-serif;
        color: rgb(156, 174, 198);
        background-color: rgb(66, 28, 82);
}

.contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactInfo {
    height: 200px;
    background-color: rgb(66, 28, 82);
    color: rgb(156, 174, 198);
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
    border: solid rgb(189, 174, 198) 1px;
}

.contactInfo a:visited {
    color: rgb(189, 174, 198);
}

/* projects */

.projects-container {
    background-color: rgb(115, 44, 123);
    height: auto;
    color: rgb(156, 174, 198);
    text-align: center;
}

.projLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid 3px transparent;
    border-image: linear-gradient(to right, white,black ,white);
    border-image-slice: 1;
}

.projectIcons {
    width: 300px;
    height: 150px;
}

/* footer */

.foot {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(189, 174, 198);
    color: rgb(115, 44, 123);
}

/* image styles */

.kristnaWells {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: 400px;
}

.headShot {
    width: 200px;
    height: 250px;
    border-radius: 100%;
}



/* tablet */

@media only screen and (min-width: 800px) {

    
.banner {
    background: url('./assets//kai-oberhauser-179931-unsplash.jpg');
    background-size: cover;
    width: 90%;
    height: 600px;
    margin: auto;
}

    .title {
        font-size: 30px;
        width: 90%;
        margin: auto;
    }

    .home {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 10px auto;
    }
    
    .welcome p{
        margin: 20px;
        color: rgb(156, 174, 198)
    }

    .contactInfo {
        width: 90%;
        margin: auto;
    }

    .projects-container {
        width: 90%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .projLink {
        border-bottom: none;
    }

    .link-container {
        display: flex;
        justify-content: space-evenly;
    }

    .foot {
        display: flex;
        flex-direction: row;
    }

}

